.more_pd_card {
  display: flex;
  justify-content: center;
  padding: 0.5rem !important;
  margin-top: 2rem !important;
}
.pd_cart_img {
  object-fit: cover !important;
  width: 16rem;
  padding: 0.4rem;
}
/* make responsive  */

@media screen and (max-width: 600px) {
  .more_pd_card {
    flex-direction: column !important;
    justify-content: center;
    padding: 0.3rem !important;
    margin-top: 1.5rem !important;
  }
}
