.formDiv{

}

.contactForm{
    text-align: center;
    margin: 5rem 3rem;
    background-color: #8984e6;
    padding: 3rem;
    width: 80%;
    border-radius: 8px;
}
.formImg{
    width: 95%;
    
    padding: 8rem 1rem 3rem 1rem;
}
/* make design responsive */
@media screen and (max-width: 600px){
    .contactForm{
        text-align: center;
        margin: 3rem 1rem;
        background-color: #6c63ff;
        padding: 1rem;
        width: 80%;
        border-radius: 8px;
    }
    .formDiv{
        
    }
    .formImg{
        width: 90%;
        padding: 4rem 0rem 3rem 1rem;
    }
}